.calendar {
    border: 1px solid var(--primary-color);
    padding: 0 1em;
    max-width: 50vw;
}

.calendar > div {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.calendar > div.controllers{
    justify-content: space-between;
}

.calendar > div h5 {
    font-size: 1em;
    margin: 1em 0;
}

.calendar table{
    empty-cells: show;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 1em;
    width: 90%;
}

.calendar table td {
    width: 2.5em;
    height: 2.5em;
    border: 0.5px solid var(--calendar-border);
    text-align: center;
    color: var(--primary-color);
    font-size: 0.9em;
    cursor: pointer;
}

.calendar .fa{
    cursor: pointer;
}

.calendar table td.unavailable {
    color: var(--reserved);
}

#calendars .calendar table td.unavailable {
    color: white;
    background-color: var(--primary-color);
}

.calendar table td.selected{
    background-color: var(--primary-color);
    color: white;
}

.calendar table th{
    font-size: 0.7em;
    color: var(--primary-color);
}

.calendar > div i{
    flex-basis: 5%;
    font-size: 0.8em;
}