div.owner-photos{
    flex: 1 1 0px;
    border: 1px solid black;
    height: 20vh;
}

#carousel > div.owner-photos > img{
    width: 100%;
    height: 100%;
} 

#carousel.owner-view{
    flex-wrap: wrap;
    justify-content: center;
}

#calendars {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#calendars > div {
    display: flex;
    justify-content: space-between;
}

.fas.hidden {
    color: var(--reserved);
}
