#carousel > div {
  flex: 0 1 20%;
  border: 1px solid black;
  height: 20vh;
}

.editable ::placeholder{
  color: gray;
  opacity: 50%;
}

#carousel .add-new-photo input {
  display: none;
}

#carousel.owner-view .fa-trash {
  padding: 0.3em 0.3em 0 0;
  color: var(--reserved);
  font-size: 1.3em;
  text-align: right;
  margin: 0;
  display: none;
  width: 100%;
  cursor: pointer;
}

.editable #carousel.owner-view .fa-trash {
  display: block;
}

#carousel .add-new-photo label {
  height: 100%;
  display: block;
  background-color: #dddddd;
  cursor: pointer;
}

#carousel .add-new-photo label i {
  margin: auto;
  display: block;
  text-align: center;
  height: 100%;
  line-height: 5em;
  color: black;
}

#carousel > div.owner-photos > div {
  width: 100%;
  height: 100%;
  background-size: cover;
}

#carousel.owner-view {
  flex-wrap: wrap;
  justify-content: flex-start;
}

#calendars {
  flex-basis: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

#calendars > div {
  display: flex;
  justify-content: space-between;
}

.fas.hidden {
  color: var(--reserved);
}

#house-information > aside > div select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  color: var(--reserved);
  background-image: none;
  background: white;
}

#house-information > aside > div select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  background-color: white;
  overflow: hidden;
  border-radius: 0.25em;
}

#house-information > aside > div > div select {
  flex: 1;
  padding: 0 0.5em;
  color: var(--reserved);
  cursor: pointer;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background-color: white;
  color: var(--reserved);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: var(--primary-color);
}

#house-information > aside > div > div > i {
  color: var(--reserved);
  display: none;
}

.editable #house-information > aside > div > div > i {
  display: inline-block;
}

.editable input {
  border: none;
  font-size: 1.2em;
  color: var(--primary-color);
  appearance: none;
}

.editable #description textarea {
  font-size: 1.2em;
  border-style: none;
  border-color: transparent;
}

#description > div > input {
  width: 4em;
  text-align: right;
}

.editable #description > div {
  color: var(--primary-color);
}

#house-information > aside > div > div > i:nth-child(2) {
  margin-left: 1em;
  cursor: pointer;
}

#house-information > aside > div span i {
  margin-right: 0.5em;
}

#google-maps{
  flex-basis: 100%;
  height: 30em;
  overflow: auto;
}

#photos-carousel{
  width: 45vw;
  display: flex;
  flex-wrap: wrap;
  border: 0.5px solid black;
  align-items: center;
}

#photos-carousel > div{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 45vw;
  order: 2;
}


#photos-carousel div div img{
  width: 100%;
  height: 100%;
}

#photos-carousel div div {
  flex: 1 1 0px;
  border: 0.5px solid black;
}

#photos-carousel div div.selected {
  opacity: 60%;
}


#photos-carousel img.active{
  order: 1;
  border: 0.5px solid black;
  height: 30vw;
  width: 100%;
  box-sizing: border-box;
}

#carousel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}

#carousel i {
  margin: 0 1em;
}

#house-title{
  display: flex;
  justify-content: space-between;
  margin: 1.5em 0;
}

#house-title aside  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#house-title aside span {
  margin: auto;
}



#houses article div div span {
  flex-basis: 50%;
  display: inline-block;
  padding: 0.7em 0;
  color: var(--primary-color);
}

#houses article div div span span {
  margin: 0 0.5em;
}

#houses article div div span:nth-child(even){
  text-align: end;
}

#house-page{
  padding: 0 10vh;
}

#house-information{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

#house-information article{
  margin: 0em 2em 1em 2em;
}

#description{
  font-size: 1.1em;
  padding-right: 1em;
  margin-top: 0;
  flex: 1 0 40em;
  max-width: 55%;
  overflow-wrap: break-word;
}

#description textarea{
  width: 100%;
  height: 10em;
  font-size: inherit;
}


#house-information aside{
  flex-grow: 1;
  border-left: 1px solid var(--accent-color);
  padding-left: 2em;
}

#house-information aside > div{
  display: flex;
  flex-direction: column;
}

#house-information aside > div > *{
  flex-basis: 100%;
  margin: 0.5em 0;
  color: var(--primary-color);
}

#house-information aside > div > span > span {
  display: inline-block;
  padding: 0 0.5em;
}

#reviews{
  flex-basis: 100%;
}

#reviews div{
  font-size: 0.9em;
}

#reviews > span{
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0;
}

#reviews > span > span{
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0;
  font-size: 0.9em;
}


#reviews > span > span > span{
  margin: 0.5em;
  padding-right: 1em;
  color: var(--primary-color);
}

#reviews > span > span > span:first-child{
  border-right: 1px solid var(--accent-color);
}

#reviews > div > article {
  margin: 1em 0;
}

#reviews > div > article > div {
  display: flex;
  align-items: center;
}

#reviews > div h4{
  font-size: 1.2em;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  padding-left: 0.8em;
  color: var(--primary-color);
}

#reviews > div p{
  font-size: 0.9em;
}

#reserve{
  flex-grow: 1;
  border: 1px solid var(--primary-color);
  margin: 0em;
  max-width: 50vw;
}

#reserve  div:nth-child(3){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#reserve  div:nth-child(3) > p {
  color: var(--accent-color);
}
#reserve  div:nth-child(3) > p > strong{
  color: var(--primary-color);
  font-weight: normal;
}
#reserve  div:nth-child(3) > p > strong::after{
  content: "€";
}

#reserve div:nth-child(4) input{
  background-color: var(--primary-color);
  color: white;
  padding: 0.8em;
  cursor: pointer;
}