@media screen and (max-width: 550px){
    #mainpage-img {
        position: static;
    }

    .card {
        position: static;
        width: 100%;
        margin: auto;
        margin-top: 1em;
        padding: 0.5em;
    }
    div#dates {
        display: block;
    }
    div#dates label > input{
        display: block;
        width: 100%;
    }

    #photos-carousel,
    #photos-carousel > div{
        width: 65vw;
    }

    #photos-carousel img.active{
        height: 100%;
    }
}

@media screen and (max-width: 900px){

    nav ul li{
        display: block;
        width: 10em;
        margin: auto 0;
    }

    nav div{
        display: block;
        font-size: 1.5em;
        color: var(--accent-color);
        margin: auto 1.5em auto auto;
        border: 0.5px solid var(--accent-color);
        padding: 0.2em 0.4em;
        border-radius: 5px;
    }
    
    nav ul{
        display: none;
    }

    nav ul.visible{
        display: block;
        flex-basis: 100%;
        flex-grow: 1;
        padding-left: 0;
        margin-top: 1.5em;
    }


    #reviews > span{
        justify-content: space-evenly;
    }

    #reserve{
        margin: auto;
        grid-column: 1/5;
        margin: 0;
        margin-bottom: 2em;
    }

    #reserve.card{
        width: 80%;
    }

    #reviews{
        grid-column: 1/5;
    }

}

@media screen and (max-width: 750px){
    #houses article div{
        padding: 0;
        margin: auto;
    }

    #houses article img{
        margin: auto;
        width: 18em;
    }
}

@media screen and (max-width: 800px){
    #house-page{
        padding: 0;
    }

    #house-information article h2{
        text-align: center;
    }

}