:root {
  --primary-color: #52a470;
  --background-color: #ffffff;
  --gold-color: #f5cb33;
  --accent-color: #39734e;
  --primary-variant: #75b68d;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em 0;
  border-bottom: 0.8em solid var(--primary-color);
}

nav img {
  width: 5em;
  height: 5em;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li:first-child {
  color: var(--gold-color);
}

nav li:last-child {
  padding: 0.5em;
  border-radius: 0.3em;
  border: 2px solid var(--accent-color);
}

a {
  text-decoration: none;
  color: inherit;
}

nav div {
  display: none;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  font-size: 0.9em;
  margin: auto;
  color: var(--accent-color);
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 1.3em 1vw;
  flex-wrap: wrap;
}

footer ul {
  padding-left: 0;
}

footer li {
  display: block;
  color: white;
  margin: 0.4em 0.5em;
  font-size: 0.8em;
}

footer li:first-child {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 0.9em;
}

#email {
  background-color: var(--primary-color);
  color: white;
  border: 2px solid;
  padding: 0.5em;
  border-radius: 0.3em;
}

#subscribe {
  color: var(--gold-color);
  background-color: white;
  padding: 0.5em 2em;
  border-radius: 0.4em;
  margin: 1em;
}

#mainpage-img {
  width: 98.9%;
  height: 80vh;
  position: absolute;
}

.card {
  position: relative;
  display: inline-block;
  padding: 1.5em;
  background-color: var(--background-color);
  margin: 0 0 0 8em;
  width: 17em;
}

span.card{
  top: 7em;
}

.card > div {
  font-size: 1.1em;
  font-weight: bold;
  margin: auto;
}

.card > div > h6 {
  display: inline-block;
  font-size: 1em;
  margin: auto;
  color: var(--primary-color);
}

#mainpage-section {
  min-height: 80vh;
}

.card div {
  margin: 0.5em auto;
}

.card label {
  font-size: 0.8em;
  color: var(--primary-color);
}
.card label > input {
  display: block;
  border: 0.5px solid var(--primary-color);
  padding: 0.5em;
  width: 90%;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
}

.card #submit {
  background-color: var(--primary-color);
  border: 0;
  padding: 0.8em 2em;
  font-size: 0.8em;
}

div#dates {
  display: flex;
}
div#dates label > input {
  display: inline-block;
  width: 50%;
}

#filters {
  background-color: var(--primary-variant);
  color: var(--background-color);
  font-size: 0.7em;
  margin-bottom: 4em;
  padding: 1em;
}

#filters div:first-child{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 75%;
}

#filters div ul:last-child {
  margin-left: auto;
}

#filters ul li:first-child {
  font-size: 1.2em;
  font-weight: bold;
}

#filters li {
  display: block;
}

#filters li input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid var(--background-color);
  padding: 0.3em;
  border-radius: 20%;
  transition-duration: 0.3s;
  background-color: var(--primary-variant);
}

#filters li input:checked{
  background-color: var(--background-color);
}

#filters li label {
  display: inline-block;
  height: 100%;
}

.button {
  background: var(--accent-color);
  padding: 0.5em;
  width: 10em;
  text-align: center;
  margin: 0.5em auto;
  border-radius: 5%;
}


#houses article{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  max-width: 45em;
  justify-content: center;
  padding-bottom: 1em;
}

#houses article img {
  width: 20em;
  height: 15em;
  border-radius: 3%;
}

#houses article div div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 20em;
}

#houses article header {
  font-size: 1.5em;
  color: var(--accent-color);
}

#houses article header::before,
#houses article header::after{
  content: '"';
}

#houses article > div{
  padding: 0.5em;
  margin-left: 1em;
  max-width: 20em;
}

#houses article > div > div{
  margin-left: 0.4em;
}


.fas{
  font-size: 1.5em;
  color: var(--accent-color);
}

i.fa-star{
  color: var(--gold-color);
}

#houses article div div span {
  flex-basis: 50%;
  display: inline-block;
  padding: 0.7em 0;
  color: var(--primary-color);
}

#houses article div div span span {
  margin: 0 0.5em;
}

#houses article div div span:nth-child(even){
  text-align: end;
}

#house-page{
  padding: 0 15em;
}

#house-information{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#description{
  grid-column: 1/4;
  font-size: 1.1em;
  padding-right: 1em;
}
#house-information aside{
  grid-column: 4/5;
  border-left: 1px solid var(--accent-color);
  padding-left: 2em;
}

#house-information aside > div{
  display: flex;
  flex-direction: column;
}

#house-information aside > div > *{
  flex-basis: 100%;
  margin: 0.5em 0;
  color: var(--primary-color);
}

#house-information aside > div > span > span {
  display: inline-block;
  padding: 0 0.5em;
}

#reviews{
  grid-column: 1/3;
}

#reviews div{
  font-size: 0.9em;
}

#reviews > span{
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0;
}

#reviews > span > span{
  display: flex;
  justify-content: space-between;
  padding: 0.7em 0;
  font-size: 0.9em;
}


#reviews > span > span > span{
  margin: 0.5em;
  padding-right: 1em;
  color: var(--primary-color);
}

#reviews > span > span > span:first-child{
  border-right: 1px solid var(--accent-color);
}

#reviews > div > div {
  margin: 1em 0;
}

#reserve{
  grid-column: 3/5;
  padding: 1.5em;
  border: 1px solid var(--primary-color);
  margin: 4em 1em;
}

.title{
  color: var(--accent-color);
  font-size: 1.2em;
  padding: 0.7em 0;
  margin: 0;
  font-weight: normal;
}



